.material-card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.materialCardImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.title {
  font-size: 20px;
  margin-bottom: 15px;
}

.locationsTitle {
  font-size: 16px;
  margin: 15px 0 8px;
}

.description {
  line-height: 1.4;
  margin-bottom: 2px;
}

.locations {
  line-height: 1;
  margin-bottom: 2px;
}

.cookingEffect {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 2px;
}
