:root {
  font-family: Arial, Helvetica, sans-serif;
  color: #9b9797;
  background: black;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

#root {
  width: 100%;
  text-align: center;
}
